body{
    background-color: black;

}
img{
    width:100px;
    height:30px;
    color: aliceblue;
    position: relative;
    top:10px;
}
.a{
    color: rgb(245, 248, 250);
}
.profile img{
    width:23px;
    height:23px;
    border:1px solid black;
    border-radius: 50%;
    background-color: aliceblue;
    float: left;
    position: relative;
    right: 5px;

}
.do{
    position: relative;
    top:12px
}

.page{
    position: relative;
    left:20px;
    float: left;
    
}
.border{
    width:1px;
    height:650px;
    border:0.50px solid rgb(29, 27, 27);
    position: relative;
    left:150px;
    float: left;
}
.more{
    color:aliceblue;
    position: relative;
    top:300px;
}
.instragam{
    width:500px;
    height:720px;
    border:1px solid rgb(19, 17, 17);
    background-color: rgb(7, 8, 8);
    position: relative;
    left:25%;
    float: left;

}
.mamber {
    width:400px;
    height:500px;
    border:1px solid rgb(12, 12, 12);
    background-color: rgb(9, 9, 9);
    position: relative;
    left:950px;

}
.box img{
    width:60px;
    height:60px;
    float: left;
    margin:9px;
    border-radius: 50%;
    border:2px solid transparent;
    background-image: conic-gradient( red 50%, rgb(186, 62, 165 ) 30%, yellow );
    border-image-slice: 1;

}
    
.aa img{
    width:35px;
    height:35px;
    border:1px solid black;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    top:110px;
    left:20px

}
.moto{
    color:aliceblue;
    position: relative;
    left:65px;
    top:68px;
}
.tajnahal{
    color:gray;
}
.dot{
    width:5px;
    height:5px;
    background-color: rgb(246, 244, 244);
    border:1px solid rgb(246, 242, 242);
    border-radius: 50%;
    color:aliceblue;
}
.alldot{
    position: relative;
    left:385px;
    bottom: 20px;
    
    
}
.tt{
    position: relative;
    left:10px;
    bottom: 7px;
}
.ttt{
    position: relative;
    left:20px;
    bottom: 14px;
}
.img {
    width:460px;
    height:400px;
    background-image: linear-gradient(rgb(232, 181, 222),rgb(242, 54, 164));
    position: relative;
    left:20px;
    top:60px;
}
.img img{
    width:420px;
    height:350px;
    margin: 20px ;

}
.ican{
    font-size:x-large;
    position: relative;
    top:20px;
}

.fa-heart{
    color: red;
}
.contant{
    position: relative;
    top:30px;
    color:aliceblue;
}
.toy{
    color:gray;
}
.fa-comment{
    color:aliceblue;
}
.fa-paper-plane{
    color:aliceblue;
}
.fa-gem{
    color:rgb(11, 86, 236)
}
.fa-stars{
    color:rgb(248, 223, 35)
}
.name{
    color:aliceblue;
    float: left;
    margin:9px;
}
.short{
    position: relative;
    top:-75px;
}
.fa-bookmark{
    color:aliceblue;
    position: relative;
    left:350px;
}
.fa-sharp{
    color:aliceblue;
}
.z1 img{
    width:60px;
    height:60px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    


}
.z2{
   color:gray;
   font-size: x-large;
}

.z3 img{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    

    
}

.z4 img{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    
    
}

.z5 img{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    
    
}
.z6 img{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    
    
}
.z7 img{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 50%;
    background-color: brown;
    
    
}

#im  {
    color:aliceblue;
     position: relative;
     left: 80px;
     bottom: 45px;

    
}
#pk {
    color:aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;

   
    
    
}
#mona1 {
    color:aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;

   
    
    
}
#dolo1 {
    color:aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;

   
    
    
}
#body1 {
    color:aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;

   
    
    
}
#yes1 {
    color:aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;

   
    
    
}
#mi{
    color:gray;
    position: relative;
    left: 80px;
     bottom: 40px;


}
#pk2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}
#mona2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}

#dolo2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}

#body2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}

#yes2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}

#pk2{
    color:gray;
    position: relative;
    left: 60px;
    bottom: 25px;

   


}
.all{
    position: relative;
    bottom:700px;
    font-size: 9px;
}
.follow{
    color:rgb(32, 32, 235);
    position: relative;
    left:200px;
    bottom: 30px;
}
.follow1{
    color:rgb(242, 242, 246);
    position: relative;
    left:250px;
    bottom: 28px;
    font-size: large;

}
.follow2{
    color:rgb(32, 32, 235);
    position: relative;
    left:175px;
    bottom: 30px;

}
.meta{
    color:gray;
    position: relative;
    bottom: 700px;
    
}







